In [1]:
import pandas as pd 

path_to_dd_synth = "./example-data/metadata/dd_synth.csv"
dd_synth = pd.read_csv(path_to_dd_synth)
dd_synth

,table_name,var_name,datatype,dispersion_amount,winsorize_lower_limit,winsorize_upper_limit
0,sample2,Multi_Modal,Decimal,0.248057,0.05,0.95
1,sample2,With_Missing_Data,Decimal,0.071855,0.05,0.95
2,sample2,Uniform_0_10,Decimal,0.243456,0.05,0.95
3,sample2,Beta_Alpha2_Beta5,Decimal,0.011545,0.05,0.95
4,sample2,Log_Normal_Mean0_Sigma1,Decimal,0.077269,0.05,0.95
5,sample3,Binomial_n10_p_one_half,NumberList,0.100000,0.05,0.95
6,sample3,Poisson_Lambda3,NumberList,0.100000,0.05,0.95
7,sample1,Standard_Normal,Decimal,0.064777,0.05,0.95
8,sample1,Normal_Mean5_SD2,Decimal,0.133512,0.05,0.95
9,sample1,Exponential_Lambda1,Decimal,0.054743,0.05,0.95
10,sample1,Gamma_Shape2_Scale2,Decimal,0.172201,0.05,0.95

In [2]:
path_to_input_folder_of_csv_files = "./example-data/input"
path_to_output_folder_of_csv_files = "./example-data/output"

In [6]:
import os
import pandas as pd 

def create_csv_files_of_synth_data(
        dd_synth,
        path_to_input_folder_of_csv_files,
        path_to_output_folder_of_csv_files
):
    pass

# Use the dd_synth to create a list of table_name's
list_of_table_names = list(dd_synth['table_name'].unique())

# For each table_name in list_of_table_names...
table_name = list_of_table_names[0]

# Filter the dd_synth to the current table_name
dd_synth_filtered_to_current_table_name = dd_synth[dd_synth['table_name'] == table_name]
dd_synth_filtered_to_current_table_name

# Load the CSV into a pandas dataframe
file_name = f'{table_name}.csv'
path_to_table = os.path.join(path_to_input_folder_of_csv_files, file_name)
df = pd.read_csv(path_to_table)

df

,Multi_Modal,With_Missing_Data,Uniform_0_10,Beta_Alpha2_Beta5,Log_Normal_Mean0_Sigma1
0,-2.443665,-0.939968,3.788871,0.059665,0.371933
1,-1.614102,0.476651,0.347162,0.089432,6.384649
2,-1.821874,1.715908,1.020749,0.519899,4.962551
3,-1.369240,NaN,6.014107,0.419739,0.235370
4,-2.333595,0.327811,8.738218,0.292348,0.278316
...,...,...,...,...,...
995,2.836994,2.365408,4.161185,0.210696,2.808150
996,3.195183,-1.438720,0.169098,0.192823,2.388914
997,2.923047,-0.225263,6.180437,0.195732,0.334745
998,2.839807,-2.378432,0.630947,0.263891,3.532319
999,2.110301,0.192652,1.078558,0.300641,0.716619

In [7]:
# For each row of dd_synth_filtered_to_current_table_name ...
# (i.e., for each variable in the current table_name ...)
row_of_dd_synth = dd_synth_filtered_to_current_table_name.iloc[0]
row_of_dd_synth

table_name                   sample2
var_name                 Multi_Modal
datatype                     Decimal
dispersion_amount           0.248057
winsorize_lower_limit           0.05
winsorize_upper_limit           0.95
Name: 0, dtype: object

In [9]:
# Get the datatype of the current variable
datatype = row_of_dd_synth['datatype']
datatype

'Decimal'

In [ ]:
if datatype == 'Decimal':